section.more {
    align-items: flex-start;
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    padding: 6vh 16vw;

    .column {
        align-items: flex-start;
        display: flex;
        flex-grow: 1;
        max-width: 45%;
        padding: 0 4vh;

        svg {
            color: #626262;
            font-size: 2rem;
            margin-right: 2rem;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        p:first-of-type,
        ul:first-of-type {
            margin-top: 0;
        }

        p a {
            font-weight: 600;
        }

        ul {
            line-height: 1.75rem;
            list-style-type: none;
            padding: 0;
        }
    }
}

@media (max-width: 1024px) {
    section.more {
        padding: 4vh 8vw;
    }
}
